/**
 *
 * @copyright  2010-2017 (2017) izend.org
 * @version    46 (2)
 * @link       http://www.izend.org
 */

/* print.css */

a[href]:after {
	content: none
}

* {
	background-color: white !important;
}

.pagebreak {
	page-break-before: always;
}
.nopagebreak {
	page-break-before: avoid !important;
}

#comments {
	page-break-before: always;
}

div.file {
	font-family: monospace;
	font-size: .9em;
}

div.download, div.longtail, div.youtube {
	display: none;
}

form, audio, video, .audioplayer {
	display: none;
}

.avatar, #newcomment, #oldcomment, #sidebar, #footer {
	display: none;
}

.fb-like-box, .fb-page, #twitter-timeline, #pinterest-board {
	display: none !important;
}
